body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

.jumbotron{
  background-color: #8cd9b3;
}

.introduction{
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-left: 30px;
}

.congratulation{
  font-size: 24px;
  color: #26734d;
}

.panel > .panel-heading {
  background-color: #ecf9f2;
}

.color{
  width: 200px;
  height: 50px;
  color: #8cd9b3;
}

.btn{
  background-color: #ecf9f2;
  border: 2px solid #8cd9b3;
  margin-top: 20px;
}

.panel-title{
  font-weight: bold;
}

.answer{
  display: none;
  font-size: 18px;
}

.buddy{
  font-size: 24px;
  font-weight: bold;
}

img{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .introduction {
      padding-left: 10px;
      padding-right: 10px;
  }   
}