body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

.jumbotron{
  background-color: #8cd9b3;
}

h2.introduction {
  font-size: 18px;
}

p.introduction {
  font-size: 14px;
}

.congratulation{
  font-size: 18px;
  color: #26734d;
}

.introduction{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.answer{
  display: none;
  font-size: 18px;
  padding: 20px;
}

img{
  float: right;
  height: 100px;
  width: auto;
}

.introduction{
  overflow: auto;
}

#hero{
  font-size: 24px;
  font-weight: bold;
}